// 變數設定

// 顏色
$color-primary: #0027d5;
$color-secondary: #4b4b4b;
$color-third: #ededed;
$color-fourth: #f5f5f5;
$color-sixth: #f1f1f1;

// 字體大小
$fs-m: 1.5rem;
$fs-l: 1.25rem;
$fs-xl: 1.75rem;
$fs-xxl: 7.5rem;

// 字重
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
